version: '3.9'

services:
  django_site:
    user: 1000:1000
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8080:8000"
    restart: always
    depends_on:
      - postgres_db
    volumes:
      - .:/app

  migrations:
      build: .
      command: python manage.py migrate
      volumes:
        - .:/app
      depends_on:
        - postgres_db

  postgres_db:
    image: postgres
    container_name: postgres_db
    environment:
      POSTGRES_PASSWORD: 123456789
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:

