{% extends 'base.html' %}
{% block script %}
    <script>
        function delete_object(url)
        {
            // Можно и через cookie попробовать достать, тк токен хранится там
            let token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            fetch(url, {
                method:'POST',
                headers: { "X-CSRFToken": token },
            }).then(()=>window.location.href='');
        }
    </script>
{% endblock %}
{% block content %}
    <div class="container container-fluid">

     {% if bucket_list.count > 0 %}
         <form action="{% url 'monolith:order_create' %}" method="post">
         {% csrf_token %}
          <div class="card m-5">
                <div class="card-header">
                    <h5 class="mt-3">Товары к покупке</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Количество (шт)</th>
                            <th>Цена </th>
                            <th>Действия</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bucket in bucket_list %}
                            <tr>
                                <td>
                                    <input type="hidden" name="product_id" value="{{bucket.product__id}}">
                                    {{bucket.product__name}}
                                </td>
                                <td>
                                    <input type="hidden" name="count_product" value="{{bucket.count_product}}">
                                    {{bucket.count_product}}
                                </td>
                                <td>
                                    <input type="hidden" name="price" value="{{bucket.sum_product}}">
                                    {{bucket.sum_product}} (руб)
                                </td>
                                <td>
                                    <span onclick="delete_object('{% url 'monolith:delete_product_all' bucket.product__id%}')"
                                    class="btn btn-danger">
                                        Убрать из корзины
                                    </span>
                                    <span  class="btn btn-warning"
                                           onclick="delete_object('{% url 'monolith:delete_product_first' bucket.product__id %}')">
                                             Уменьшить кол-во
                                    </span>
                                </td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <th colspan="2">Итоговая цена</th>
                                <th colspan="2">
                                    <input type="hidden" name="total_price" value="{{total_price.sum_product__sum}}">
                                    {{total_price.sum_product__sum}} (руб)
                                </th>
                            </tr>
                    </tbody>
                </table>
                </div>
            <div class="card-footer text-end">
                <a href="#" class="btn btn-outline-danger">Отмена</a>
                <button type="submit" class="btn btn-outline-dark">
                        Заказать
                </button>
            </div>
          </div>
        </form>
        {% else %}
            <div class="alert alert-info mt-4">
                <h5>Вы еще не выбрали товар !</h5>
            </div>
     {% endif %}
    </div>
{% endblock %}